@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sebastian's Jablonski business website</h1>
            <p>Nice to see you!</p>
    <p>
    <div class="image-container">
    <img style="width:600px; height:400px; " src="~/images/auto.jpg" alt="Opis obrazka" />
    </div>
    </p>
</div>

<style>
.image-container {
    justify-content: center;
    align-items: center;          
}
</style>