@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last updated: 01.11.2023</p>

<p>Welcome to Sebastian's Website', we respect and are committed to protecting your privacy. This Privacy Policy outlines our practices concerning the collection, use, and sharing of your personal information.</p>

<h2>1. Collection of Information</h2>
<p>We collect various types of information in connection with the Services:</p>
<ul>
    <li><strong>Personal Information:</strong> While using our site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.</li>
    <li><strong>Log Data:</strong> We collect information that your browser sends whenever you visit our site.</li>
</ul>

<h2>2. Use of Collected Information</h2>
<p>We use the collected information for various purposes:</p>
<ul>
    <li>To provide and maintain our Service</li>
    <li>To notify you about changes to our Service</li>
</ul>

<h2>3. Sharing of Information</h2>
<p>We do not sell, trade, or rent your personal information to others. We may share generic aggregated demographic information not linked to any personal information regarding visitors and users with our business partners, trusted affiliates, and advertisers.</p>

<h2>4. Cookies</h2>
<p>We use cookies to enhance your experience on our site. Cookies are pieces of information that some websites transfer to the computer that is browsing that website. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>

<h2>5. Changes to This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

<h2>6. Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please <a href="contact.html">contact us</a>.</p>
